@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

:root {
	--dark-grey: #707070;
	--grey: #8F8F8F;
	--medium-grey: #EDEDED;
	--transparent-light: rgba(0,0,0,.1);
	--border-shadow: inset 0 0 0 1.5px var(--transparent-light);
}

body {
	font-family: "Lato", serif;
	text-align: center;
	background-color: #F7F7F7;
}

	h1, h2, h3 {
		font-family: "Oswald", serif;
		font-weight: 300;
	}

	#color-box {
		margin: 24px auto;
		border-radius: 4px;
		box-shadow: var(--border-shadow),
					0 6px 18px rgba(0,0,0,.05);
	}

	label {
		display: flex;
		color: var(--dark-grey);
		min-width: 5em;
	}

	.input-wrapper {
		position: relative;
	}

		input {
			background-color: var(--medium-grey);
			border-radius: 4px 4px 0 0;
			border: 0;
			border-bottom: 1.5px solid var(--grey);
			padding: 8px;
			font-size: inherit;
			font-family: inherit;
			width: -webkit-fill-available;
		}

			.copy {
				position: absolute;
				font-family: inherit;
				font-size: inherit;
				padding: 4px;
				bottom: 5.5px;
				right: 4px;
				border: none;
				background: none;
				cursor: pointer;
			}

			.copy::before {
				font-family: 'FontAwesome';
				content: "\f24d";
			}

			.copy.copied::before {
				font-family: inherit;
				color: var(--dark-grey);
				content: "Copied!";
			}

	.row {
		display: flex;
		gap: 32px;
		justify-content: center;
		flex-wrap: wrap;
		margin: 32px 0;
	}

		.container {
			display: inline-block;
			width: 240px;
		}

			.slider {
				display: flex;
				align-items: center;
				margin: 12px 0;
			}

				input[type="range"] {
					height: 16px;
					border: 0;
					border-radius: 80px;
					padding: 0;
					box-shadow: var(--border-shadow);
				}

					input[type="range"]::-webkit-slider-thumb {
						-webkit-appearance: none;
						width: 24px;
						height: 24px;
						border: 8px solid white;
						border-radius: 50%;
						cursor: pointer;
						box-shadow: 0 1px 4px rgba(0,0,0,.5);
					}